.quiz-screen {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.left-image {
    display: flex;
    width: 25%;
    justify-content: flex-end;

    img {
        height: 150px;
        width: 150px;
    }
}

.right-image {
    display: flex;
    width: 25%;
    align-items: flex-end;

    img {
        width: 363px;
        height: 279px;
    }
}

.button-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}