.quiz-screen {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    height: 100vh;
    align-items: center;
}

.left-image {
    display: flex;
    width: 25%;
    justify-content: flex-end;
    height: 80%;

    img {
        height: 150px;
        width: 150px;
    }
}

.question-container {
    display: flex;
    flex-direction: column;
    gap: 54px;
    width: 50%;
    align-items: center;
}

.right-image {
    display: flex;
    width: 25%;
    align-items: flex-end;
    height: 80%;
}

.quiz-lottie {
    width: 100%;
    // height: 279px;
}

.button-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question-warning{
    color: red;
}

.loader-section{
    height: 100vh;
    padding: 10px;
    .loader-lottie{
        width: 60%;
    }
}

@media only screen and (max-width: 820px){
    .quiz-screen {
        flex-direction: column;
        height: auto;
    }

    .question-container {
        width: auto;
    }

    .right-image {
        width: 100%;
    }

    .quiz-lottie{
        width: 193px;
    }

    .left-image {
        width: 100%;
    }
}
